.Hero {
    /* padding-left: 6.25rem; */
    padding-top: 3.5rem;
    background-color: var(--color-green);
    margin-bottom: 5.87rem;
}


.HeroTop {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4.5rem;
}

.HeroTopChild:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 4;
}

.HeroTopChild:nth-child(2) {
    grid-column-start: 10;
    grid-column-end: 14;
}

.HeroLogo {
    display: flex;
    gap: 0.7rem;
}

.HeroLogo h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 2.17rem;
    display: flex;
    align-items: center;
    color: var(--color-darkBlue);
}

.HeroNav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.75rem;
    /* display: flex; */
    /* gap: 1rem; */
    align-items: center;
    color: var(--color-darkBlue);
    cursor: pointer;
}

.HeroNavChild:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 1;
}

.HeroNavChild:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 2;
}

.HeroNavChild:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 3;
}

.HeroNavChild:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 4;
}

.About {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

.AboutText {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    /* display: flex; */
    align-items: center;
    color: var(--color-darkBlue);
    padding-bottom: 0.75rem;
    grid-column-start: 2;
    grid-column-end: 6;
}

.AboutHeroTop {

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    padding-bottom: 5.84rem;
}

.AboutHeroTopChild:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 8;
}

.AboutHeroTopChild:nth-child(2) {
    grid-column-start: 9;
    grid-column-end: 14;
}

.AboutAbout {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;
    color: var(--color-black);
}

.AboutParagraph {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: var(--color-darkBlue)
}

.AboutNumbers {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-darkBlue);
    padding-bottom: 0.75rem;

}

.AboutNumbersText {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.AboutNumbersTextChild:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.AboutNumbersTextChild:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 8;
}

.AboutNumbersTextChild:nth-child(3) {
    grid-column-start: 9;
    grid-column-end: 12;
}

.AboutNumbersText h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 4.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--color-darkBlue);
    padding-bottom: 5.1rem;
}

.AboutFeatures {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 7.5rem;
}

.AboutFeaturesText:nth-child(1) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.AboutFeaturesText:nth-child(2) {
    grid-column-start: 6;
    grid-column-end: 8;

}

.AboutFeaturesText:nth-child(3) {
    grid-column-start: 9;
    grid-column-end: 12;
}

.AboutFeaturesText h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 3.5rem;
    display: flex;
    align-items: center;
    color: #0A2640;
    padding-bottom: 2rem;
}

.AboutFeaturesText p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #0A2640;
}

.HeroNav>li>button {
    display: 'flex';
    align-items: flex-start;
    padding: 8px 40px;
    border: 2px solid var(--color-darkBlue);
    border-radius: 24px;
    background-color: var(--color-green);
    cursor: pointer;
}

.HeroNav>li>button>span {
    color: var(--color-darkBlue);
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width: 1860px) {
    .HeroNavChild:nth-child(4) button {

        padding: 8px 30px;
    }

}

@media screen and (max-width: 1590px) {
    .HeroNavChild:nth-child(4) button {

        padding: 8px 25px;
    }
}

@media screen and (max-width: 1440px) {
    .HeroNavChild:nth-child(4) button {

        padding: 8px 20px;
    }
}

@media screen and (max-width: 1300px) {
    .HeroNavChild:nth-child(4) button {

        padding: 8px 17px;
    }
}