.Hero {
    padding-left: 6.25rem;
    padding-top: 3.5rem;
    background-color: var(--color-green);
    margin-bottom: 5.87rem;
}

.HeroTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4.5rem;
}

.HeroLogo {
    display: flex;
    gap: 0.7rem;
}

.HeroLogo h1 {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 2.17rem;
    display: flex;
    align-items: center;
    color: var(--color-darkBlue);
}

.HeroNav {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.75rem;
    display: flex;
    align-items: center;
    color: var(--color-darkBlue);
    cursor: pointer;
}

.HeroLeft {
    margin-right: 6.25rem;
}

.AboutText {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    color: var(--color-darkBlue);
    padding-bottom: 0.75rem;
}

.AboutHeroTop {

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5.84rem;
}

.AboutAbout {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;
    color: var(--color-black);
}

.AboutParagraph {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 455px;
    height: 64px;
    color: var(--color-darkBlue)
}

.AboutNumbers {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-darkBlue);

}

.AboutNumbersText {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.AboutNumbersText h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 4.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--color-darkBlue);
    padding-bottom: 5.1rem;
}

.AboutFeatures {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 7.5rem;
}

.AboutFeaturesText h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 3.5rem;
    display: flex;
    align-items: center;
    color: #0A2640;
    padding-bottom: 2rem;
}

.AboutFeaturesText p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #0A2640;
}
