.Footer {
    padding-top: 6.25rem;
    padding-bottom: 7.3rem;
}

.FooterMain {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

/* do responsivenwess and in end to 5 */
.FooterMainChild:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 4;
}

.FooterMainChild:nth-child(2) {
    grid-column-start: 6;
    grid-column-end: 8;
}

.FooterMainChild:nth-child(3) {
    grid-column-start: 9;
    grid-column-end: 11;
}

.FooterMainChild:nth-child(4) {
    grid-column-start: 12;
    grid-column-end: 14;
}

.FooterLogo {
    display: flex;
    gap: 0.6rem;
    padding-bottom: 2.5rem;
}

.FooterLogo h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 43.25px !important;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: var(--color-darkBlue);
}

.FooterMainChild p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: var(--color-grey);
    cursor: pointer;
}


.FooterMainChild h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    padding-top: 4rem;
    color: var(--color-grey);
}

.FooterMainChild h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: var(--color-black);
}

.FooterMainChild:nth-child(2) p,
.FooterMainChild:nth-child(3) p,
.FooterMainChild:nth-child(4) p {
    padding: 1.2rem 0;
}

.FooterHiring {
    display: flex;
    gap: 1rem;
    align-items: center;
}





@media screen and (max-width: 1860px) {

}